/* container filmes */
.container-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.card-movie{
    width: 85%;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: #1D1C3B;
    border-radius: 8px;
    box-shadow: 32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15), 23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406), 16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125), 10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188), 6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075), 3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813), 1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875), 0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);
}

.img-movie{
    border-radius: 50%;
    margin: 24px 64px 24px 46px;
}

.img-movie > img{
    border-radius: 50%;
}

.info-movie{
    margin-right: 78px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.info-movie-title{
    white-space: nowrap;
    margin-bottom: 24px;
    width: 30%;
    font-weight: 500;
    display: block;
}

.info-movie > span:nth-child(2){
    margin-right: 45px;
}

.info-movie > span:nth-child(2)::before{
    content: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0L13.09 6.26L20 7.27L15 12.14L16.18 19.02L10 15.77L3.82 19.02L5 12.14L0 7.27L6.91 6.26L10 0Z' fill='%23D7A82F'/%3E%3C/svg%3E ");
    margin-right: 12px;
}

.info-movie > span:nth-child(3)::before{
    content: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2913 2.61183C19.7805 2.10083 19.1741 1.69547 18.5066 1.41891C17.8392 1.14235 17.1238 1 16.4013 1C15.6788 1 14.9634 1.14235 14.2959 1.41891C13.6285 1.69547 13.022 2.10083 12.5113 2.61183L11.4513 3.67183L10.3913 2.61183C9.3596 1.58013 7.96032 1.00053 6.50129 1.00053C5.04226 1.00053 3.64298 1.58013 2.61129 2.61183C1.5796 3.64352 1 5.04279 1 6.50183C1 7.96086 1.5796 9.36013 2.61129 10.3918L3.67129 11.4518L11.4513 19.2318L19.2313 11.4518L20.2913 10.3918C20.8023 9.88107 21.2076 9.27464 21.4842 8.60718C21.7608 7.93972 21.9031 7.22431 21.9031 6.50183C21.9031 5.77934 21.7608 5.06393 21.4842 4.39647C21.2076 3.72901 20.8023 3.12258 20.2913 2.61183V2.61183Z' stroke='%23BA0707' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
    margin-right: 12px;
}

.synopsis-movie{
    margin: 41px 37px 32px 0;
}

.synopsis-movie > p{
    line-height: 32px;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (max-width: 950px){
    .card-movie{
        flex-direction: column;
        
    }

    .info-movie{
        margin: 0 auto;
    }

    .synopsis-movie{
        text-align: justify;
        margin: 41px;
    }
    
    .info-movie-title{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        align-content: center;
    }
}
