nav{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.menu-items a{
    text-decoration: none;
    margin-right: 2rem;
    color: var(--text-color);
}

button{
    cursor: pointer;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
}

.sign-up{
    color: white;
    background-color: var(--main-color);
}